<div class="row">
    <p class="col-md-2 col-sm-2 col-lg-2 col-xs-2">Phrase</p>
    <input ng-class="{error: exercise.error.question}" ng-model="exercise.question" class="col-md-10 col-sm-10 col-lg-10 col-xs-10" placeholder="Phrase"/>
</div>
<div class="row">
    <p class="col-md-2 col-sm-2 col-lg-2 col-xs-2">Definition</p>
    <input ng-class="{error: exercise.error.correctAnswer}" ng-model="exercise.correctAnswer" class="col-md-10 col-sm-10 col-lg-10 col-xs-10" placeholder="Definition"/>
</div>