<div class="login-container" style="margin: 100px">
    <input ng-model="subjectId" style="margin: 10px" placeholder="Code" type="text" class="form-control pagination-center col-md-4"/>
    <button ng-click="next()" style="margin: 10px" class="btn btn-default">Next</button>
</div>
<div ng-show="tracker.active()" class="cssload-main">
    <div class="cssload-heart">
        <span class="cssload-heartL"></span>
        <span class="cssload-heartR"></span>
        <span class="cssload-square"></span>
    </div>
    <div class="cssload-shadow"></div>
</div>